.transaction-table {
  margin-top: 0 auto;
  padding: 1.5rem;
}

.transaction-header {
  margin: 2rem 0 0 1.5rem;
}

.recent-stock-row,
.profitable-client-row {
  line-height: 2.5;
  margin-bottom: 0.6rem;
  background: #dbdbdb;
  border-radius: 6px;
  color: black;
}

.ant-table-cell .ant-table-cell-row-hover,
.ant-table-wrapper .ant-table,
.ant-table-wrapper .ant-table-tbody > tr > td {
  border-radius: 8px;
}
