body {
  margin: 0;
  padding: 0;
}

.recent-stock-row,
.profitable-client-row {
  line-height: 2.5;
  margin-bottom: 0.6rem;
  background: #dbdbdb;
  border-radius: 6px;
  color: black;
}

.ant-table-cell .ant-table-cell-row-hover,
.ant-table-wrapper .ant-table,
.ant-table-wrapper .ant-table-tbody > tr > td {
  border-radius: 8px;
}

.general-info-title,
.transactions-title,
.recent-stocks-title,
.most-profitable-clients-title {
  padding-left: 1rem;
}

.general-info-tabs,
.transactions-table-container,
.recent-stocks-container,
.most-profitable-clients-container {
  padding: 1rem;
}

.create-new-purchase-btn {
  padding-right: 1rem;
}

aside {
  line-height: none;
}
