body {
  margin: 0;
  padding: 0;
}

.recent-stock-row,
.profitable-client-row {
  line-height: 2.5;
  margin-bottom: 0.6rem;
  background: #dbdbdb;
  border-radius: 6px;
  color: black;
  border: 1px #3b3b3b;
}

.ant-table-cell .ant-table-cell-row-hover,
.ant-table-wrapper .ant-table,
.ant-table-wrapper .ant-table-tbody > tr > td {
  border-radius: 8px;
}

.general-info-tabs,
.transactions-table-container,
.recent-stocks-container,
.most-profitable-clients-container {
  padding: 1rem;
}

.transactions-table-container {
  margin-bottom: 1rem;
}

.transactions-title,
.header-title,
.general-info-title,
.most-profitable-clients-title,
.recent-stocks-title {
  padding-left: 1rem;
  color: #3b3b3b;
  font-weight: 700;
}

.header-title {
  font-weight: 800;
  font-size: larger;
}

.create-new-purchase-btn {
  padding-right: 1rem;
}

.ant-card-small > .ant-card-head,
.ant-table-wrapper .ant-table-container table > thead > tr > th:nth-child(1),
.ant-table-wrapper .ant-table-container table > thead > tr > th:nth-child(2),
.ant-table-wrapper .ant-table-container table > thead > tr > th:nth-child(3),
.ant-table-wrapper .ant-table-container table > thead > tr > th:nth-child(4),
.ant-table-wrapper .ant-table-container table > thead > tr > th:nth-child(5),
.ant-table-wrapper .ant-table-container table > thead > tr > th:nth-child(6) {
  background: #3b3b3b1d;
}

.ant-card-body > p {
  font-weight: bold;
  font-size: x-large;
}
